/*******************TAG SELECTORS*******************/
body{
  background-color: lightgrey;
}
h1{
  color: red;
  font-size: 30px;
}
img:hover {
  background-color: gold;
  border-image: 50%;
}

/******************CLASS SELECTORS******************/
.smoothie{
  background-color: green;
}
.broccoli{
  background-color: red;
}

.circule{
  border-radius: 50%
}

/******************ID SELECTORS******************/
/* #heading{
  color: blue;
} */

/* #big{
  font-size: 100px;
} */
